body {
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

section {
    background-image: radial-gradient(#00ccff, #000000);
    height: 100vh;
    position: relative;
    padding-top: 120px;
}

section .list {
    width: 70vw;
    margin: auto;
    height: 100%;
    position: relative;
}

section .list .item {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    transform: translateX(calc(100vw * var(--calculation, 0)));
}

section .list .item.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

section .list .item .car-img {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 60%;
}
section .list .item .car-img img {
    width: 100%;
    transform: rotate(10deg);
    transition: 0.5s;
}

section .list .item.active .car-img img {
    transform: rotate(10deg);
}

section .list .item .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
    bottom: 7.5em;
}
section .list .item .content h2 {
    font-size: 8em;
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
}
section .list .item .content .description {
    color: #fff;
    font-size: 12px;
    text-align: right;
    max-width: 400px;
}
section .list .item .content .information {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #000000;
    background-color: #fffb00;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    font-family: "League Gothic", sans-serif;
    font-size: 17px;
}

section .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 34.5%;
    border-top: 1px solid #fff;
}

/* arrows */
.arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}
.arrows button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.arrows button img {
    width: 25px;
    margin-top: 4px;
}
.arrows button:hover {
    background-color: #fffb00;
}
.arrows button:nth-child(2) img {
    transform: scale(-1);
}

/* indicators */
.indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}
.indicators .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}
.indicators ul {
    display: flex;
    gap: 10px;
}
.indicators ul li {
    width: 50px;
    height: 5px;
    background-color: #fffb00;
    border-radius: 5px;
    transition: 0.5s;
}
.indicators ul .active {
    background-color: #fff;
}

/* responsivo */
@media (max-width: 1024px) {
    section .list .item .content {
        bottom: 20px;
        right: auto;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    section .list .item .content h2 {
        font-size: 2.5em;
    }
    section .list .item .content .description {
        font-size: 14px;
        max-width: 90%;
        text-align: center;
    }
    .arrows {
        width: 100%;
        justify-content: space-around;
    }
    .indicators {
        display: none;
    }
}
